h1{
	font-family: Calibri;
	font-size: 24px;
	word-spacing: 12px;
}
 h3 {
	font-family: Calibri;
	font-size: 24px;
	word-spacing: 10px;
 }
.news h4{
	font-family: Calibri;
	font-size: 24px;
	word-spacing: 15px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}