h1{
	font-family: Calibri;
	font-size: 24px;
	word-spacing: 12px;
}
 h3 {
	font-family: Calibri;
	font-size: 24px;
	word-spacing: 10px;
 }
.news h4{
	font-family: Calibri;
	font-size: 24px;
	word-spacing: 15px;
}